*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 18px;
    padding: 8px;
}
.container{
    background-color: rgb(8, 250, 238);
    padding: 5px 20px 15px 20px;
    border: 2px solid rgb(2, 80, 110);
    border-radius: 5px;
    margin: 10px;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(24, 2, 75);
    border-radius: 5px;
}
fieldset{
    background-color: aquamarine;
    border: 2px hotpink;
}
.main_heading{
    text-align: center;
}
input[type="submit"]
{
     background-color: rgb(39, 209, 24);
     padding: 12px 20px;
     border: inset;
     cursor: all-scroll;
}